PRIVATE_KEY=YOUR_PRIVATE_KEY
ZKSYNC_RPC_TEST=https://testnet.era.zksync.dev
ZKSYNC_CONTRACT_TEST=0xYourContractAddress
ADDRESS_SIGN=0xYourMintToAddress
TRANSFER_TO=0xYourTransferToAddress
BLOCK_UNBLOCK=0xYourBlockUnblockAddress